name: Publish Plugin when tagged
on:
  push:
    tags:
      - '**'
jobs:
  gradle-rc:
    runs-on: ubuntu-latest
    environment: publish-artifactory
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Set up secrets
        run: |
          export ARTIFACTORY_USER=${{ secrets.ARTIFACTORY_USER }}
          export ARTIFACTORY_PASSWD=${{ secrets.ARTIFACTORY_PASSWD }}
      - name: Run gradlew publish
        run: ./gradlew publish
